.buy-now-button{  
    color:white;
    background-color:black;
    border:none;
    padding:9px 25px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}
.carousel-item{
    padding:20px 40px;
}
.col-md-5 h1,p{
    padding-bottom:20px;
}
#carousel-ind li{
    background-color:orange;
}
#control-prev{
    width:6%;
}
#smartphone a{
    text-decoration:none;
    color:orange;
}
.card{
    border:none;
    border-radius:10px;
    box-shadow:5px 10px 30px lightgrey;
    padding-top:20px;
    padding-left:30px;
    padding-right:30px;
}
.card-body{
    text-align:center;
}
.card-body p{
    padding-bottom:10px;
}
.card-body h5{
    font-weight:bold;
}
#card-foot{
    border-top:none;
    background-color:white;
}
.container{
    margin-bottom:20px;
}
#laptop a{
    text-decoration:none;
    color:orange;
}
#contain h3{
    text-align:center;
}
#contain{
    margin-top:100px;
    margin-bottom:50px;
}
.hr-line {
    background-color:orange;
    border-radius:10px;
    width:10%;
    height:5px;
}
#perfume-card{
    margin-bottom:30px;
    border-radius:20px 0 30px 0px;
    border:none;
}
#perfume-card img{
    padding:20px 10px;
}
#perfume-card h4{
    text-align:center;
    font-weight:bold;
    margin-bottom:40px;
    font-family:'Poppins',sans-serif;
}
#shoe-card{
    margin-bottom:20px;
    border-radius:20px 0 30px 0px;
    border:none;
}
#shoe-card img{
    padding:20px 10px 5px 20px;
}
#shoe-card h4{
    text-align:center;
    font-weight:bold;
    margin-bottom:40px;
    font-family:'Poppins',sans-serif;
}
#bag-card{
    margin-bottom:20px;
    border-radius:0 20px 0 30px;
    border:none;
}
#bag-card img{
    padding:20px 10px;
}
#bag-card h4{
    text-align:center;
    font-weight:bold;
    margin-bottom:40px;
    font-family:'Poppins',sans-serif;
}
#nav-background{
    background-color:white !important;
}
#footer-para{
    color:gray;
    text-align:center;
