.buy-now-button{  
    color:white;
    background-color:black;
    border:none;
    padding:9px 25px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}
.carousel-item{
    padding:20px 40px;
}
.col-md-5 h1,p{
    padding-bottom:20px;
}
#carousel-ind li{
    background-color:orange;
}
#control-prev{
    width:6%;
}
#smartphone a{
    text-decoration:none;
    color:orange;
}
.card{
    border:none;
    border-radius:10px;
    box-shadow:5px 10px 10px lightgrey;
    padding-top:20px;
    padding-left:30px;
    padding-right:30px;
}
.card-body{
    text-align:center;
}
.card-body p{
    padding-bottom:10px;
}
.card-body h5{
    font-weight:bold;
}
#card-foot{
    border-top:none;
    background-color:white;
}
.container{
    margin-bottom:20px;
}
#laptop a{
    text-decoration:none;
    color:orange;
}
